.mainBox {

    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: repeat( auto-fit, minmax(100px, 1fr));
    // grid-column-gap: 10px;
}
    @media only screen and (max-width : 992px) {
      .mainBox {
        flex-direction: column;
      }
    }
.priceBox {
    margin: 0 5% 0 5%;
}
img.productImg {
    border: solid;
    border-width: 2rem;
    border-color: #a3e2ea;

}

h2.itemTitle {
    padding-bottom: 2rem;
}

.itemDetails {
    // margin-left: 2rem;
    background: #e9d227;
}