$body-font:'Open Sans', sans-serif;
$body-fontSize: 1rem;

body {
    height:100%;
    background-color: #fcfcfc;
    font-family: $body-font;
    font-size: $body-fontSize;
}

$heading-color: #e75e62;
$heading-font: 'Playfair Display', serif;

h2, h3, h4 {
    color: $heading-color;
    font-family: $heading-font;
    margin-left:2rem;
}


main {
  padding-left: 300px;
}

    @media only screen and (max-width : 992px) {
      main {
        padding-left: 0;
      }
    }

  img.bbLogo{
    width: 30%;
    margin-left:2rem;
  } 
  
  header.App-header {
    background-color: #5a898f;
    position:fixed;
    z-index: 2;
    top:0;
    width:100%;
  }

  section {
    padding-top:15%;
  }



  



@import './partials/Cart';
@import './partials/FeaturedItems';
@import './partials/Nav';
@import './partials/ProductDetails';
@import './partials/ProductList';
@import './partials/Search';